extends ./base

block append head
  title Protokollfix
  link(href=baseURL + '/css/easymde.min.css', rel='stylesheet')
  link(href=baseURL + '/css/index.css', rel='stylesheet')

block append navleft
  - if (Object.keys(documents).length === 0) documents['no documents found.'] = '';
  - if (Object.keys(templates).length === 0) templates['no templates found.'] = '';
  - templates['empty document'] = baseURL;

  +nav-dropdown(documents, true)(id='menu-documents')
    +glyphicon('folder-open')
    |&nbsp;&nbsp;documents
  li: a(onclick='save("document")' style={cursor: 'pointer'})
    +glyphicon('floppy-disk')
    |&nbsp;save

  - if (file)
      //- FIXME: this is really hacky
      - pdfURL = uploadBaseURL + `/${year}/${file.replace('.md', '.pdf')}`;
      li#btn-pdf: a(href=pdfURL target='_blank')
        +glyphicon('file')
        |&nbsp;PDF

block prepend navright
  li#btn-help: a(href='https://simplemde.com/markdown-guide' target='_blank')
    +glyphicon('question-sign')
    |&nbsp;markdown help

block pagecontent
  .row.fullheight
    .col-sm-12.fullheight#leftcolumn
      textarea.fullheight.form-control#md-textarea=markdown

  script(src=baseURL + '/js/easymde.min.js')
  script(src=baseURL + '/js/index.js')
