extends ./base.jade

block append head
  title Protokollfix
  link(href=baseURL + '/css/index.css', rel='stylesheet')
  link(href=baseURL + '/bower/codemirror/lib/codemirror.css', rel='stylesheet')
  script(src=baseURL + '/bower/marked/marked.min.js')
  script(src=baseURL + '/js/js-yaml-front-client.min.js')
  script(src=baseURL + '/bower/codemirror/lib/codemirror.js')
  script(src=baseURL + '/bower/codemirror/addon/mode/overlay.js')
  script(src=baseURL + '/bower/codemirror/addon/fold/markdown-fold.js')
  script(src=baseURL + '/bower/codemirror/mode/markdown/markdown.js')
  script(src=baseURL + '/bower/codemirror/mode/gfm/gfm.js')
  script(src=baseURL + '/js/index.js')

block append navleft
  - if (Object.keys(documents).length === 0) documents['no documents found.'] = '';
  - if (Object.keys(templates).length === 0) templates['no templates found.'] = '';
  - if (Object.keys(snippets).length === 0)  snippets['no snippets found.'] = '';
  - templates['empty document'] = baseURL;

  +nav-dropdown(documents, true)(id='menu-documents')
    +glyphicon('folder-open')
    |&nbsp;&nbsp;documents
  +nav-dropdown(templates, true)(id='menu-templates')
    +glyphicon('file')
    |&nbsp;new
  +nav-dropdown(snippets, false)(id='menu-snippets')
    +glyphicon('indent-left')
    |&nbsp;insert
  +nav-dropdown({'as document': 'protokollfix.save("document")', 'as template': 'protokollfix.save("template")', 'as snippet': 'protokollfix.save("snippet")'}, false)(id='menu-save')
    +glyphicon('floppy-disk')
    |&nbsp;save

block prepend navright
  if exportFormats
    +nav-dropdown(exportFormats, true)(id='menu-export')
      +glyphicon('export')
      |&nbsp;export

  +nav-dropdown({'as markdown': 'protokollfix.mail(\'markdown\')', 'as HTML': 'protokollfix.mail(\'html\')'}, false)(id='menu-mail')
    +glyphicon('envelope')
    |&nbsp;mail
  li#btn-help: a(href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' target='_blank')
    +glyphicon('question-sign')
    |&nbsp;markdown help
  li: a#btn-mode(onclick='protokollfix.toggleViewMode()' style={cursor: 'pointer'})
    +glyphicon('blackboard')
    |&nbsp;view

block pagecontent
  .row.visible-xs
    .container
      +alert('info')
        +glyphicon('info-sign')(class='glyphicon-lg')
        span &nbsp;hiding the editor because of your low screen width.&nbsp;
        button.btn.btn-default.btn-xs(onclick='protokollfix.toggleViewMode()') show anyway!
  .row.fullheight
    .col-sm-6.fullheight#leftcolumn
      textarea.fullheight.form-control#md-textarea=markdown
    .col-sm-6.fullheight#rightcolumn
      .fullheight#html-preview
